{
  "extends": ["airbnb", "react-app"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": 0,
    "import/prefer-default-export": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
